.about-bar{
    width: 100%;  
    background:linear-gradient(90deg,#f5d9c3 20%,#ac8f7f 40% 50%, #e9d8c4 77% 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    font-family: 'Alegreya Sans SC', sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
}
.container{  
    min-width: 800px;
   width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:30px;
    

}
.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: fit-content;
    text-align: center;
}

@media screen and (max-width:720px) {
    .container{  
        min-width: unset;
       width: auto;
        display: flex;
        flex-direction: column;
        justify-content: unset;
        margin-top:30px;
        
    
    }
    .about-bar{
        width: 100%;  
        height: fit-content;
        background:linear-gradient(180deg,white 1% ,#f5d9c3 25%,#ac8f7f 35% 55%, #e9d8c4 70% 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: larger;
        font-family: 'Alegreya Sans SC', sans-serif;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media screen and (max-width:480px) {
    .abstract-img{
        display: none;
    }
    .about-bar{
        background: linear-gradient(white, #e9d8c4 );
    }
}


/* .img-description{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    
}  */
/* .img-descriptions div{
    margin-right: 130px;

}  */
/* .img-descriptions > div{
    margin-right: 150px;

}  */

.abstract-img{
    width: 200px;
    height: 40vh;
    max-width: 250px;
}
.norm-window{
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;

}
.upside-down-window{
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}
.book-description{
    margin-top: 20px;
}
/* na 820px izbacit aboutbar */