.about-bar{
    width: 100vw;  
    height: 400px;
    background-color: #9F7D69;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 30px;
    margin-top: 50px;
    font-size: larger;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.images-container{  
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: auto;
    padding-left: 20px;
    margin-top:30px;

}
.img-descriptions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    
}
.img-descriptions div{
    margin-right: 130px;

} 
/* .img-descriptions > div{
    margin-right: 150px;

}  */
.middle-description{
    margin-left: 2vw;
}
img{
    margin-right: 60px;
    width: 25vw;
    height: 40vh;
    max-width: 250px;
}
.norm-window{
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;

}
.upside-down-window{
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}
.book-description{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}
/* na 820px izbacit aboutbar */